<div class="row mt-5">
    <div class="col-md-7 m-auto">
    <div class="card card-body">

        <form action="/products/create" method="POST" enctype="multipart/form-data">

            <% if(typeof errors != undefined){ %>
                <% errors.map(error => { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= error.message %> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% }); %> 
            <% } %>             

            <div class="mb-3 row justify-content-center mt-5">
                    <div class="col-sm-9">
                        <small class="mb-0">upload an Image*</small>
                        <input type="file" class="form-control" id="image" name="myImage" >
                    </div>
            </div>
            <div class="mb-3 row justify-content-center">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
            </div>
            <div class="mb-3 row justify-content-center">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="category" name="category" placeholder="Product">
                    </div>
            </div>
            <div class="mb-3 row justify-content-center">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="company" name="company" placeholder="Brand">
                    </div>
            </div>
            <div class="mb-3 row justify-content-center">
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="price" name="price" placeholder="Price">
                    </div>
            </div>
            <div class="mb-3 row justify-content-center">
                    <div class="col-sm-9">
                        <textarea class="form-control" id="description" name="description" placeholder="Details..."></textarea>
                    </div>
            </div>
            <div class="d-md-flex justify-content-md-center">
                <button type="submit" class="btn btn-primary col-sm-9 mt-2 mb-2">Add Product</button>
            </div>
            <div class="d-md-flex justify-content-md-center">
                <a href="/products" class="btn btn-secondary col-sm-9 mb-5">Cancel</a>
            </div>
            
        </form>
    </div>
</div>
</div>
