<div class="row">
    
    <div class="col-4">
        <%- include('./search.ejs') %> 
    </div>

    <div class="mt-4">
        <%- include('./partials/errors.ejs') %> 
        <%- include('./products.ejs') %> 
    </div>
    
</div>
